Checks: >
    bugprone-*,
    -bugprone-easily-swappable-parameters,
    concurrency-*,
    modernize-*,
    -modernize-avoid-c-arrays,
    -modernize-use-trailing-return-type,
    performance-*,
    portability-*,
CheckOptions:
    - key: bugprone-suspicious-include.HeaderFileExtensions
      value: ";h;hpp;ipp"
