name: build-meson

on: [push, pull_request]

jobs:
  meson:
    timeout-minutes: 60
    runs-on: ubuntu-22.04
    steps:
      - uses: actions/checkout@v4
      - name: Install Meson
        env:
          DEBIAN_FRONTEND: noninteractive
        run: |
          sudo apt-get update --fix-missing
          sudo apt-get install -y meson
      - name: Meson Build (shared)
        run: |
          meson setup build
          meson compile -C build
      - name: Meson Build (static)
        run: |
          rm -rf build/
          meson setup build --default-library=static
          meson compile -C build
